section#galeria {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--p-color);

}
/*.bg-galeria{*/
/*    top: 60px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    overflow: hidden;*/
/*}*/
.gallery-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-container img{
    height: 20vh;
    max-width: 10vh;
    min-width: 30vh;
    object-fit: cover;
    object-position:center;
    margin: 5px;
    border: 5px solid var(--c-color);


}


.gallery-container img:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.7s ease-in-out;

}

.popup.active {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 10;
}



.popup.active img {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    object-position: center;
    margin: 0 auto;
    border: 2vw solid var(--c-color);
}

.popup-img{
    display: block;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: auto;
    max-height: 80vh;
    background-color: var(--p-color);
}

#button-carrousel-l, #button-carrousel-r{
    display: none;
}

#button-carrousel-l.activeb {
    display: block;
    position: fixed;
    top: 50%;
    left: 0vh;
    background-image: url("../img/left.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 5rem;
    height: 5rem;
cursor: pointer;
    z-index: 11;
}
#button-carrousel-l.activeb:hover {
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    animation: bounceleft 0.5s ease-in-out infinite;
}
.oculta{
    display: none;
}
@keyframes bounceleft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(0);
    }
}


#button-carrousel-r.activeb {
    display: block;
    position: fixed;
    top: 50%;
    right: 0vh;
    background-image: url("../img/right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    z-index: 11;
}
#button-carrousel-r.activeb:hover {
    cursor: pointer;
    transition: all 0.7s ease-in-out;
    animation: bounceleft 0.5s ease-in-out infinite;
}

.btn-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;

}
.btn-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--c-color);
    background-color: rgba(255, 255, 255, 0);
    border-left: 1px solid var(--t-color);
    border-right: 1px solid var(--t-color);
}

.btn-gallery:hover, .btn-gallery.selected {
    background: var(--t-color);
    animation: pulse 1s infinite;
    transition: background 0.5s ease-in-out;
}

@keyframes bounceright {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 620px) {
    .gallery-container{
        display: flex;
        width: 100vw;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .gallery-container img{

        height: auto;
        max-width: 10vh;
        min-width: 100%;
        object-fit: cover;
        object-position: center;
        padding: 5px;
    }
}